<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="subscribe-container">
	<h1>
		<%= image_tag("logo-550w.png", width: 550, height: 199, alt: 'Roomease', border: 0) %>
	</h1>

	<div class="subscribe-wrapper">

		<!-- Blurb -->
		<div id="subscribeFormWelcome">
			<span style="color:#FFFFFF">
				<strong><span style="font-size:14px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
					Easily delegate chores, create shopping lists, keep track of bills, plan shared events in the calendar and send instant messages with the new Roomease app. Our "
					<em>At Home</em>" feature gives you the ability to see who's home for those unforseen emergencies. Roomease makes everyday living with roommates simple!</span></span>
				</strong>
			</span>
		</div>


		<!-- Thanks -->
		<div class="social">
			<h2 class="subtitle">Thanks for subscribing!</h2>

			<div class="social-buttons">
				<div class="twitter">
					<a href="https://twitter.com/intent/tweet?button_hashtag=Roomease&text=Can't%20wait%20to%20start%20using%20Roomease%20for%20iOS" class="twitter-hashtag-button" data-size="large" data-related="RoomEaseApp" data-url="http://www.roomeaseapp.com/">Tweet #Roomease</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>

				<div class="fb">
					<div class="fb-share-button" data-href="http://www.roomeaseapp.com/" data-width="200" data-type="button_count"></div>
				</div>
			</div>

		</div>

	</div>
</div>